<section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xs-12 social">
         	<i class="fa fa-facebook-square"></i>
         	<i class="fa fa-twitter-square"></i>
         	<i class="fa fa-instagram"></i>
        </div>    
        <div class="col-lg-6 col-xs-12 sponsors">
			<img src="<%= lorem.image('80x50')%>">
			<img src="<%= lorem.image('80x50')%>">
			<img src="<%= lorem.image('80x50')%>">
			<img src="<%= lorem.image('80x50')%>">
			<img src="<%= lorem.image('80x50')%>">			
        </div>    
      </div>
    </div>  
</section>