<section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 social">
         	<a href="https://www.facebook.com/hollywoodundead" target="_blank"><i class="fa fa-facebook-square"></i></a>
         	<a href="https://twitter.com/hollywoodundead" target="_blank"><i class="fa fa-twitter-square"></i></a>
         	<a href="https://instagram.com/hollywoodundead" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>    
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sponsors">
			<img src="<%= lorem.image('80x50')%>">
			<img src="<%= lorem.image('80x50')%>">
			<img src="<%= lorem.image('80x50')%>">
			<img src="<%= lorem.image('80x50')%>">
			<img src="<%= lorem.image('80x50')%>">			
        </div>    
      </div>
    </div>  
</section>